<div class="fondVert">
<p>calcul de tva</p>
ht: <input [(ngModel)]="ht" name="ht" (input)="onCalculerTvaEtTtc()"/> <br/>
<!-- version preliminaire via saisie clavier -->
<!-- tauxTva: <input [(ngModel)]="tauxTva" /> <br/> -->
tauxTva: <select [(ngModel)]="tauxTva" name="taux" (change)="onCalculerTvaEtTtc()"> 
    <option [ngValue]="t" *ngFor="let t of listeTaux" >{{t}}%</option>    
</select><br/>

<!-- version preliminaire via bouton -->
<!-- <button (click)="onCalculerTvaEtTtc()" >calculer</button> <br/> -->
<!-- tva={{tva | number:'1.0-2':'fr'}} <br/> -->
tva=<span id="spanTva">{{tva | number:'1.0-2'}}</span><br/>
ttc={{ttc | toFixed:2}}
</div>
<hr/>
<ul>
    <li *ngFor="let t of listeTaux"
     (click)="onSelectTaux(t)"
     [class.selected]="t==tauxSel">{{t}}</li>
</ul>
<p>categories de produits pour taux sélectionné</p>
<span class="selected" *ngFor="let c of listeCategoriePourTauxSel"> {{c}} - </span>


