<h3>login</h3>
<p>example of good login (admin1/pwd1)</p>
<form #formLogin="ngForm">

    <div class="f-form-group-wrap">
        <label class="f-align">username:</label>
        <div class="f-align">
           <input [(ngModel)]="login.username" class="f-max-size"
            name="username" required pattern="^[a-zA-Z].+"/>
        </div>
    </div>

    <div class="f-form-group-wrap">
       <label class="f-align">password:</label>
       <div class="f-align">
           <input [(ngModel)]="login.password" class="f-max-size"  name="password" required minlength="3" />
       </div>
    </div>

    <div class="f-form-group-wrap">
       <label class="f-align" >roles:</label>
       <div class="f-align">
           <input [(ngModel)]="login.roles" name="roles" class="f-max-size" required /> 
       </div>
    </div>
    
    <input type="button" value="login" (click)="onLogin()" 
           [disabled]="!formLogin.form.valid"/> <br/>
</form>
message: <span [style.color]="ok?'green':'red'">{{message}}</span>
