<div class="fondVert">
<p>calcul de tva</p>
ht: <input [(ngModel)]="ht" (input)="onCalculerTvaEtTtc()"/> <br/>
<!-- version preliminaire via saisie clavier -->
<!-- tauxTva: <input [(ngModel)]="tauxTva" /> <br/> -->
tauxTva: <select [(ngModel)]="tauxTva" (change)="onCalculerTvaEtTtc()"> 
    <option [ngValue]="t" *ngFor="let t of listeTaux" > {{t}} %</option>    
</select><br/>

<!-- version preliminaire via bouton -->
<!-- <button (click)="onCalculerTvaEtTtc()" >calculer</button> <br/> -->
tva={{tva}} <br/>
ttc={{ttc}}
</div>

