<div [style.background-color]="preferencesService.couleurFondPreferee"> {{titre}} &nbsp;
<a routerLink="/ngr-welcome">welcome</a> &nbsp;
<a routerLink="/ngr-basic">basic</a> &nbsp;
<a routerLink="/ngr-reservation">reservation</a> &nbsp;
<a routerLink="/ngr-login">login</a> &nbsp;
<a routerLink="/ngr-oauth2-login-out">login(via oauth2/oidc)</a> &nbsp;
<a routerLink="/ngr-conversion">conversion</a> &nbsp;
<a routerLink="/ngr-demo">demo</a> &nbsp;
<a routerLink="/ngr-devise">devise(crud)</a> &nbsp;
</div>